@import 'app/styles/globals.scss';

.container {
	max-width: 1100px;
	margin: 0 auto;
	.title {
		padding: $space_xl $space_xl $space-lg $space_xxl;
		color: $textBlack;

		@include for-phone-only {
			padding: $space_lg 0;
			text-align: center;
		}
		
		@include for-tablet-up {
			text-align: center;
		}
		
		@include for-desktop-up {
			text-align: justify;
	}
	

		h1 {
			margin: 0;
			font-family: $primaryHeaderFont;

			@include for-phone-only {
				font-size: $f2;
			}
			
		}
		
		p {
			padding: $space_md 0 0 $space-xxs;
			font-family: $secondaryTextFont;
			font-size: $f4;

			@include for-phone-only {
				font-size: $f4;
			}
			
		}
	}
	.card {
		margin: 0 20px 20px 20px;
	}

	.card:last-of-type {
		margin-bottom: 60px;
	}
}
